@use '../../../styles' as *;
@use "sass:color";

.result-container {
  background-color: white;
  border-radius: $border-radius;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-top: 1.5rem;

  p {
    font-size: 1rem;
    margin: 0.5rem 0;

    strong {
      color: $primary-color;
      font-size: 1.2rem;
    }
  }

  @include responsive(sm) {
    padding: 1rem;

    strong {
      font-size: 1.1rem;
    }
  }
}
